
body {
  font-family: Tahoma, sans-serif; 
}

header, article, footer {
  border: 10px #E9B000 solid;
  margin: 30px;
}

h1 {
  color: #E86E80;
}

h1 {
  background-color: #FFFFFF;
  color: #E86E80;
}

h2 {
  color: #E86E80;
}

h2 {
  background-color: #E86E80;
  color: #FFFFFF;
}


header p {
  background-color: #008F95;
  color: #FFFFFF;
}

p {
  background-color: #FFFFFF;
  color: #008F95;
}

header ol {
  background-color: #E24E43;
  color: #FFFFFF;
}

ol {
  background-color: #FFFFFF;
  color: #E24E43;
}

ol ol {
  border: 5px solid #E24E43;
}

footer ol {
  background-color: #E24E43;
  color: #FFFFFF;
}
